@model int;

<div type="hidden" id="debugCheck">
    <p>Eksempelet benytter jwt basert autorisasjon</p>
    <div style="margin: 50px auto; width:600px;">
        <div id="btLoginContainer">
            <input type="text" name="username" id="username" placeholder="Username" />
            <input type="password" name="password" id="password" placeholder="Password" />
            <button id="btLogin">Login</button><br>
            <label>Must have a valid username and password</label>
        </div>
        <div id="btLogoutContainer">
            <button id="btLogout">Logout</button>
        </div>
        <div>
            <label>Action that requires the user to be authenticated: </label>
            <div type ="hidden" id="createcommentdisplay">
                <a href="#" class="btn btn-danger" onclick="CreateComment(@Model)">Add Comment!</a>
            </div>
        </div>
    </div>
    <div style="margin: 50px; background: lightgray" id="responseContainer">

    </div>
</div>

<script>
    function handleError(xhr, textStatus, errorThrown) {
        if (xhr.status == 401)
            $('#responseContainer').html("Unauthorized request");
        else {
            var message = "<p>Status code: " + xhr.status + "</p>";
            message += "<pre>" + xhr.responseText + "</pre>";
            $('#responseContainer').html(message);
        }
    }

    function isUserLoggedIn() {
        return localStorage.getItem("token") !== null;
    }

    function getSavedToken() {
        return localStorage.getItem("token");
    }


    $(function () {
        $('#btLogin2').click(function () {
            $.ajax({
                    url: "/api/myaccounts/verifyLogin",
                    type: "POST",
                    data: JSON.stringify({ username: $('#username').val(), password: $('#password').val() }),
                    dataType: "json",
                contentType: "application/json; charset=utf-8"

                })
                .done(function (token) {
                    localStorage.setItem("token", JSON.stringify(token));
                    $('#btLoginContainer').hide();
                    $('#btLogoutContainer').show();
                    var message = "<p>Token received and saved in local storage under the key 'token'</p>";
                    message += "<p>Token Value: </p><p style='word-wrap:break-word'>" + JSON.stringify(token) + "</p>";
                    $('#responseContainer').html(message);
                })
                .fail(handleError());
        });

        $('#btLogin').click(function () {
            $.post("/api/myaccounts/verifyLogin", $.param({ username: $('#username').val(), password: $('#password').val() }))
                .done(function (token) {
                    localStorage.setItem("token", token);
                    $('#btLoginContainer').hide();
                    $('#btLogoutContainer').show();
                    var message = "<p>Token received and saved in local storage under the key 'token'</p>";
                    message += "<p>Token Value: </p><p style='word-wrap:break-word'>" + token + "</p>";
                    $('#responseContainer').html(message);
                }).fail(handleError);
        });

        $('#btLogout').click(function () {
            localStorage.removeItem("token");
            $('#btLogoutContainer').hide();
            $('#btLoginContainer').show();
            $('#responseContainer').html("<p>Token deleted from local storage</p>");
        });

        if (isUserLoggedIn()) {
            $('#btLoginContainer').hide();
            $('#btLogoutContainer').show();
            $('#createcommentdisplay').show();
            //$('#debugCheck').hide();
        } else {
            $('#btLoginContainer').show();
            $('#btLogoutContainer').hide();
            $('#createcommentdisplay').hide();
            $('#debugCheck').show();
        }
    });

</script>
<script type="text/javascript">

    setInterval("update()", 10000);

    var postId = @Model;

    function update ( )
    {
        listComments(function (comments) {
            var strComments="";
            $.each(comments, function (index, comment) {
                strComments += "<tr><td>" + comment.content;
            });
            $("#comments").html(strComments);

        });


        function listComments(callback) {
            $.ajax({
                beforeSend: function (xhr) {
                    if (isUserLoggedIn()) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + getSavedToken());
                    }
                },
                url: "/api/CommentApi/" + @Model,
                data: {},
                type: "GET",
                contentType: "application/json;charset=utf-8",
            }).then(function(comments){
                callback(comments);
            }).done(function (userDetails) {
                
            }).fail(handleError);
        }
    }
    //function get(postid) {

    //    $.ajax(
    //        {
    //            beforeSend: function (xhr) {
    //                if (isUserLoggedIn()) {
    //                    xhr.setRequestHeader('Authorization', 'Bearer ' + getSavedToken());
    //                }
    //            },
    //            type: "get",
    //            url: "/api/commentapi/" + postid,
    //            data: {},
    //            contenttype: "application/json;charset=utf-8",
    //            datatype: 'json',
    //            success: function (result) {
    //                console.log(result);
    //            },
    //            error: function (req, status, error) {

    //            }
    //        })
    //        .done(function (userDetails) {
    //        }).fail(handleError);
    //}

    $(document).ready(function () {
        update();
        get(@Model);
    });


</script>
<script>
        
        var CreateComment = function (postId) {

                $.ajax({
                    type: "GET",
                    url: "/Comment/CreateComment",
                    data: { PostId: postId },
                    success: function (response) {

                        $("#myModalBody").html(response);

                        $("#myModal").modal("show");

                    }

                });
        }
</script>
<script>

        $(document).ready(function () {

                $("#btnSubmit").click(function (e) {
                    var formData = $("#commentForm").serializeArray();

                    $.ajax({
                        beforeSend: function (xhr) {
                            if (isUserLoggedIn()) {
                                xhr.setRequestHeader('Authorization', 'Bearer ' + getSavedToken());
                            }
                        },
                        type: "POST",
                        url: "/api/CommentAPI",
                        data: formData,
                        contenttype: "application/json;charset=utf-8",
                        datatype: 'json',
                        success: function (response) {

                            $("#myModal").modal("hide");
                        }
                        })
                        .done(function (userDetails) {

                        }).fail(handleError);

                });

                if (isUserLoggedIn()) {
                    $('#btLoginContainer').hide();
                    $('#btLogoutContainer').show();
                    $('#createcommentdisplay').show();
                } else {
                    $('#btLoginContainer').show();
                    $('#btLogoutContainer').hide();
                    $('#createcommentdisplay').hide();
                    $('#debugCheck').show();
                }
        });

</script>

<table class="table">
    <thead>
    <tr>
        <th>
            Content
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody id="comments">
    </tbody>
</table>
<div id="update"></div>
